@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.navbar1{
    position: webkit-sticky;
    position: sticky;
    top:0;
    list-style-type: none;
    margin-top: -15px;
    margin-left: 0px;
    margin-right: -15px;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(
    rgb(58, 59, 59),
    rgb(44, 44, 44) 10%,
    rgb(51, 51, 51)
);
    width: 100%;
    height: 70px;
    z-index:2;
    
    
    
   
  }

 
  .navv li {
   
   overflow:hidden;
   float: left;
   margin-right: 0px;
   border-radius: 6px;
   width:28ch;
   margin-top: 0%;
   text-align: center;
   position:sticky;
   padding-top:5px;


   
 }
 
 
 
 
 
 
 .nav1 li a {
   display: block;
  color: white;
   text-align: center;
 padding: 15px 0px;
 text-decoration: none;
 font-size: 15px;
   
 }
 
 .nav1 li a:hover:not(.active) {
   background-color: #15d192;
   height:100%;
   width:auto;
   color: rgb(27, 29, 28)  
 }

 .nav1 li a.active{
   border-bottom: 3px solid #15d192;
 }

.main-container{
    text-align:center;
    height:70vh;
    width:100vw;
    background-image: url(kids-bg.webp);
    background-size: cover;
    background-position: center;
    margin-top:-10px;
   
}
#intro{
    font-size:90px;
    color: rgb(15, 25, 102) ;
    text-shadow:  0 2px 5px rgba(26, 8, 55, 0.3)7;
    
}

.container {
    background-color: transparent;
    padding: 1em;
    width: 400px;
    transition: all 150ms ease-in-out;
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;

}


.form {
    background-color: #cbced2;
    padding: 10px 20px;
    float:left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
    
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}
.form-cont {
    background-image: url(kidsinschool.jpg);
    background-position: center;
    background-size: cover;
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
    float:right;
    
}

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
.modal {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 150ms ease-in-out;
}
  /* Modal Content/Box */
  .modal-content {
    
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    transition: all 150ms ease-in-out;
  }
  .modal-card{

    background-image: url(kidsinschool.jpg);
    background-size:cover;
    background-position:center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    float: right;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .btn2 {
    width: auto;
    padding: 1%;
    margin-top: 2rem;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    z-index:1;

    
}

.btn2:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn2:focus {
    outline: none;
}